.dropdown{
    width: 1.8rem;
    height: 1.8rem !important;
}
.shopProducts{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    margin: auto;
}

@media screen and (max-width:800px) {
    .shopProducts{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        width: 90%;
    }
    .bannerImage{
        width: 90%;
        height: 15rem;
        margin-top: 2rem;
    }
}